<div id="tooltip">
    <p><span style="font-weight:bold">Who to liaise with:</span></p>

<p title="e: marek.kowalski@mail.com | m: (+48) 669 668 667">Marek Kowalski <span style="font-weight:bold">RM BC 1 Warsaw </span></p>
<p title="e: jakub.nowak@mail.com | m: (+48) 659 658 657">Jakub Nowak <span style="font-weight:bold">BC Manager Wrocław</span></p>
<p title="e: andrzej.jakubiak@mail.com | m: (+48) 649 648 647">Adrzej Jakubiak <span style="font-weight:bold">Product Specialist Warsaw</span></p>
    <script>
        $( "#tooltip" ).tooltip();
    </script>
</div>