<div>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-9">
                <table style="font-size:13px; border-bottom:1px #ddd solid; border-right:1px #ddd solid" id="grid" class="table table-condensed table-hover table-striped" data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true">
                    <thead>
                    <tr>
                        <td/>
                        <th style="border-left:1px #ddd solid; border-top:1px #ddd solid;" data-column-id="id" data-identifier="true" data-type="numeric" data-align="right" data-width="40">No.</th>
                        <th style="border-top:1px #ddd solid;" data-column-id="sender" data-order="asc" data-align="center" data-header-align="center">Indicators</th>
                        <th style="border-top:1px #ddd solid; text-align:right" data-column-id="received" data-css-class="cell" data-header-css-class="column" data-align="right"  data-filterable="true">Value</th>
                        <th style="border-top:1px #ddd solid; text-align:right" data-column-id="received" data-css-class="cell" data-header-css-class="column" data-align="right"  data-filterable="true">Y/Y change</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="5" style="background-color:#dedede; border-right:1px #bbb dashed; width:15px"><div class="rotate">P&L</div></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Revenues</td>
                        <td style="text-align:right">4.0%</td>
                        <td style="text-align:right"><span style="text-align:center; color:#18a97d">&#8599; 5.0%</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>EBITDA</td>
                        <td style="text-align:right">5.0%</td>
                        <td style="text-align:right"><span style="text-align:center; color:#DF5353">&#8600; 3.0%</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Net profit</td>
                        <td style="text-align:right">4.0%</td>
                        <td style="text-align:right"><span style="text-align:center; color:#18a97d">&#8599; 4.5%</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Net debt</td>
                        <td style="text-align:right">3.0%</td>
                        <td style="text-align:right"><span style="text-align:center; color:#18a97d">&#8599; 5.0%</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" style="background-color:#dedede; border-top:1px #d0d0d0 solid;border-right:1px #bbb dashed; height:70px"><div class="rotate">Balance sheet</div></td>
                        <td>5</td>
                        <td>Total debt</td>
                        <td style="text-align:right">2.0%</td>
                        <td style="text-align:right"><span style="text-align:center; color:#e6e600">&#8594; 2.0%</span></td>

                    </tr>
                    </tbody>
                </table>
                <!--/div-->
            </div>
        </div>
    </div>
</div>