<div id="tooltip3">
    <script>
        $( "#tooltip3" ).tooltip();
    </script>


    <table style="margin-left:3px">
        <tr>
            <td>
                <p title="e: dawid.sobieraj@mail.com | m: (+48) 659 658 657">Dawid Sobieraj, <span style="font-weight:bold">CEO</span></p>
            </td>
            <td style="vertical-align: top">
                <a href="https://www.linkedin.com" target="_blank"><img src="icons/linkedin.png" style="margin-left:10px" width="12px" height="12px" /></a>
            </td>
        </tr>
        <tr>
            <td>
                <p title="e: adam.markiewicz@mail.com | m: (+48) 649 648 647">Adam Markiewicz, <span style="font-weight:bold">CRO</span></p>
            </td>
            <td style="vertical-align: top">
                <a href="https://www.linkedin.com" target="_blank"><img src="icons/linkedin.png" style="margin-left:10px" width="12px" height="12px" /></a>
            </td>
        </tr>
        <tr>
            <td>
                <p title="e: jan.nowak@mail.com | m: (+48) 669 668 667">Jan Nowak, <span style="font-weight:bold">CFO</span></p>
            </td>
            <td style="vertical-align: top">
                <a href="https://www.linkedin.com" target="_blank"><img src="icons/linkedin.png" style="margin-left:10px" width="12px" height="12px" /></a>
            </td>
        </tr>
    </table>

</div>