<div>
<p>Ecosystem: <span style="font-weight:bold">Healthcare</span></p>
</div>

<table style="font-size: 10px; width:320px; height:77px; background-image:url(images/sector.png); background-size: 320px 77px; background-repeat: no-repeat;">
    <tr>
        <td><div style="margin-left:35px">Medical<br />services</div></td>
        <td><div style="margin-left:0px">Med-tech</div></td>
        <td><div style="margin-left:5px">Pharma<br />production</div></td>
        <td><div style="margin-left:0px; color:#fff">Pharma<br />distribution</div></td>
    </tr>
</table>