<div>
    <div class="form-group has-feedback">
        <table>
            <tr>
                <td><input type="text" class="form-control" id="autocomplete" placeholder="Name" style="width:90px" /></td>
                <td><input type="text" class="form-control" id="autocomplete2" placeholder="Position" style="width:110px; margin-left:4px" /></td>
                <td><input type="text" class="form-control" id="autocomplete3" placeholder="Contact" style="width:105px; margin-left:4px" /></td>
            </tr>
        </table>
    </div>
</div>

<input class="greenButton" type="submit" value="Submit contact" tabindex="2" style="margin-bottom:10px"/>