<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<table id="grid" class="table table-condensed table-hover table-striped" data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true">
					<thead>
					<tr>
						<th data-column-id="id" data-identifier="true" data-type="numeric" data-align="right">No.</th>
						<th data-column-id="sender" data-order="asc" data-align="center" data-header-align="center" width="120px">Trend</th>
						<th style="text-align:right" data-column-id="received" data-css-class="cell" data-header-css-class="column" data-align="right"  data-filterable="true">Direct.</th>
						<th style="text-align:left" data-column-id="received" data-css-class="cell" data-header-css-class="column" data-align="left"  data-filterable="true">Insight</th>
					</tr>
					</thead>
					<tbody>


					<tr>
						<td>1</td>
						<td>
							<div id="q1" class="question">New source of EU funds</div>
							<div id="a1" class="answer" style="font-size:11.5px">Healthcare industry will be a large beneficiary of EU funds in the newest Multiannual Financial Framework for years 2014 – 2020.</div>
						</td>
						<td style="text-align:center; color:#18a97d">&#8599;</td>
						<td style="font-size:11.5px">Look for opportunities <br />in EU projects co-financing (e.g. investment loans).</td>
					</tr>
					<tr>
						<td>2</td>
						<td>
							<div id="q2" class="question">Strong decline in pharma sector margins</div>
							<div id="a2" class="answer" style="font-size:11.5px">Latest government regulations decrease the maximum level of margins on pharmaceutical products, which has an adverse effect on sector profitability.</div>

						</td>
						<td style="text-align:center; color:#18a97d">&#8599;</td>
						<td style="font-size:11.5px">Mind possible creditworthiness and liquidity deterioration.</td>
					</tr>
					<tr>
						<td>3</td>
						<td>
							<div id="q3" class="question">Hospitals digitalization</div>
							<div id="a3" class="answer" style="font-size:11.5px">Regional governments’ initiatives for health care institutions digitalization may increase investments in IT infrastructure.</div>
						</td>
						<td style="text-align:center; color:#18a97d">&#8599;</td>
						<td style="font-size:11.5px">Offer financing solutions enabling development of IT infrastructure.</td>
					</tr>
					</tbody>
				</table>
				<!--/div-->
			</div>
		</div>
	</div>
</div>

<style type="text/css">

	/* Layout properties for your question  */
	.question{
		font-weight:bold;	/* Bold font */
		cursor:pointer;
	}

	.answer{
		/* Layout properties - You can change these */

		padding:3px;

		/* This one should not be changed */
		display:none;
	}

</style>

<script type="text/javascript">

	function showHideAnswer()
	{
		var numericID = this.id.replace(/[^\d]/g,'');
		var obj = document.getElementById('a' + numericID);
		if(obj.style.display=='block'){
			obj.style.display='none';
		}else{
			obj.style.display='block';
		}
	}


	function initShowHideContent()
	{
		var divs = document.getElementsByTagName('DIV');
		for(var no=0;no<divs.length;no++){
			if(divs[no].className=='question'){
				divs[no].onclick = showHideAnswer;
			}

		}
	}

	window.onload = initShowHideContent;
</script>