<div>
<div id="accordionSectorialTrends">
	<h3>Increase in public spending</h3>
	<div>Due to cuts in public reimbursement share of public spending on drugs increasing.</div>
	<h3>High growth of pharma market</h3>
	<div>Overall high growth of pharma market of 10% in the past year driven by network pharmacies.</div>
	<h3>Boom on diet supplements market</h3>
	<div>Pharmacies increasing stock of supplements due to high customer demand.</div>
</div>
	<script>

$( "#accordionSectorialTrends" ).accordion();

</script>
</div>
