<div>
<div id="accordionSellingPitches">
	<h3>Offer treasury products to sector exporters</h3>
	<div>Advertise the benefits of risk hedging possible due to F/X products.</div>
	<h3>Polish firms in the sector with low leverage</h3>
	<div>High potential for up-sell of operating loans.</div>
	<h3>BGZ BNPP with strong relations with top market players</h3>
	<div>Primary banking relationship with polpharma, dedicated RM expertise in healthcare sector across the whole value chain.</div>
</div>
	<script>

$( "#accordionSellingPitches" ).accordion();

</script>
</div>
