<p style="margin-top:5px; margin-left:5px; font-size:13px;">Łęczyńska 43, 20-313, Lublin</p>
<table style="margin-left:5px; margin-top:-2px; margin-bottom:10px">
        <tr>
                <td style="vertical-align:bottom;">
                        <a href="http://www.lubfarm.pl" target="_blank"><img src="icons/internet_link.png" width="10px" height="10px" /></a>
                </td>
                <td>
                        <a href="http://www.lubfarm.pl" target="_blank" style="margin-left:5px; font-size:12px; text-decoration:none">www.lubfarm.pl</a>
                </td>
        </tr>
</table>
<div id="map-poland">
<ul class="poland">
        <li class="pl1"><a href="#dolnoslaskie">Dolnośląskie</a></li>
        <li class="pl2"><a href="#kujawsko-pomorskie">Kujawsko-pomorskie</a></li>
        <li class="pl3"><a href="#lubelskie">Lubelskie</a></li>
        <li class="pl4"><a href="#lubuskie">Lubuskie</a></li>
        <li class="pl5"><a href="#lodzkie">Łódzkie</a></li>
        <li class="pl6"><a href="#malopolskie">Małopolskie</a></li>
        <li class="pl7"><a href="#mazowieckie">Mazowieckie</a></li>
        <li class="pl8"><a href="#opolskie">Opolskie</a></li>
        <li class="pl9"><a href="#podkarpackie">Podkarpackie</a></li>
        <li class="pl10"><a href="#podlaskie">Podlaskie</a></li>
        <li class="pl11"><a href="#pomorskie">Pomorskie</a></li>
        <li class="pl12"><a href="#slaskie">Śląskie</a></li>
        <li class="pl13"><a href="#swietokrzyskie">Świętokrzyskie</a></li>
        <li class="pl14"><a href="#warminsko-mazurskie">Warmińsko-mazurskie</a></li>
        <li class="pl15"><a href="#wielkopolskie">Wielkopolskie</a></li>
        <li class="pl16"><a href="#zachodniopomorskie">Zachodniopomorskie</a></li>
    </ul>
</div>

<map/>